@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

@import "bourbon";
@import "bitters/bitters";
@import "neat/neat";
@import "grid-settings";
@import "neat/neat-helpers";

@import "partials/nav";
@import "partials/header";
@import "partials/modal";
@import "partials/sidebar";
@import "partials/account-settings";
@import "partials/analytics";

html, body {
  height: 100%;
}

body {
  letter-spacing: 1px;
  text-align: center;
}


// webkit scrollbar default override
::-webkit-scrollbar
{
  width: 0px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: lighten($base-border-color, 10);
}

::-webkit-scrollbar-thumb
{
  background: lighten($base-border-color, 10);
}


section {
  @include outer-container;
}
