<nav>
  <div class="menu-wrapper">
    <div class="nav">
      <ul>
        <li><a href="index.html">OpenTable</a></li>
        <li><%= link_to "Sign Out", "#"%></li>
        <li><%= link_to "Account", "account.html"%></li>
        <li><%= link_to "Anlaytics", "analytics.html"%></li>
        <li><%= link_to "Reservations", "reservations.html"%></li>
      </ul>
    </div>
  </div>
</nav>
