<section class="account-settings">
<h1>Account Settings</h1>
</section>
<section class="settings-form">
<form>
  <fieldset>
    <label>Restaurant Name</label>
    <input type="text" placeholder="Restaurant Name">

    <div class="half">
      <label>Open</label>
      <input type="time" placeholder="Hours">
    </div>

    <div class="half">
      <label>Close</label>
      <input type="time" placeholder="Hours">
    </div>

    <div class="half">
      <label>Capacity</label>
      <input type="number" placeholder="Maximum Capacity">
    </div>
    <div class="half">
      <label>Tables</label>
      <input type="number" placeholder="Amount of Tables">
    </div>
    <label>Location</label>
    <input type="text" placeholder="Location">
    <input type="submit">
  </fieldset>
</form>
</section>
